.h1, .h2, .h3, .h4, .h5, .h6, a, blockquote, code, dl, h1, h2, h3, h4, h5, h6, ol, p, pre, span, ul {
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    text-rendering: optimizeLegibility
}

.preHeading {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: .7px;
    text-align: center;
    height: 11px
}

.preHeading.preHeading__main {
    margin: 180px auto 0
}

.preHeading.preHeading__main:before {
    content: "";
    width: 24px;
    margin-right: 15px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 5px
}

.preHeading.preHeading__main:after {
    content: "";
    width: 24px;
    margin-left: 15px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 5px
}

.preHeading.preHeading__secondary-unique {
    margin: 176px auto 0
}

.preHeading.preHeading__secondary-unique:before {
    content: "";
    margin-right: 20px
}

.preHeading.preHeading__secondary {
    margin: 0 auto
}

.preHeading.preHeading__secondary:before {
    content: "";
    width: 24px;
    margin-right: 19px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 5px
}

.preHeading.preHeading__secondary:after {
    content: "";
    width: 24px;
    margin-left: 19px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 5px
}

.preHeading.preHeading__secondary.accent:after, .preHeading.preHeading__secondary.accent:before {
    border-bottom: 1px solid #6e45e2
}

.preHeading.accent {
    color: #9fa4af
}

.heading {
    display: block;
    text-align: center
}

.heading__main {
    font-size: 86px;
    font-weight: 500;
    line-height: 72px;
    margin: 35px auto 28px;
    letter-spacing: -.033em;
    word-spacing: -4px
}

.heading__secondary {
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -.04em;
    margin: 11px auto 18px
}

.heading__secondary-unique {
    margin: 11px auto 16px
}

.heading__secondary.accent {
    color: #4f4f6f
}

.heading__planType {
    color: #9fa4af;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .7px;
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 19px;
}

.description {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;
    text-align: center;
    max-width: 377px
}

.description.accent {
    color: #9fa4af
}

.description__plan {
    max-width: 300px;
    margin-bottom: 49px;
}

.price {
    display: block;
    position: relative;
    margin: 0 auto 13px;
    text-align: center;
    line-height: 1.6em;
}

.price__value {
    font-size: 60px;
    letter-spacing: -2px;
    color: #4f4f6f;
    font-weight: 500;
    height: 43px;
    line-height: 43px
}

.price__monthly {
    letter-spacing: -1px;
    color: #4f4f6f;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px
}

.price:before {
    position: absolute;
    color: #4f4f6f;
    content: "$";
    width: 8px;
    height: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: -1px;
    top: -14px;
    left: 144px
}

.price-unique {
    display: block;
    position: relative;
    margin: 0 auto 13px;
    text-align: center;
    line-height: 1.6em;
}

.price-unique:before {
    position: absolute;
    color: #4f4f6f;
    content: "$";
    width: 8px;
    height: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: -1px;
    top: -14px;
    left: 157px
}

.copyright {
    color: #b4b4bb;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em
}

.fa-facebook-f, .fa-google-plus-g, .fa-instagram, .fa-twitter {
    color: #b4b4bb;
    font-size: 16px
}

.fa-bars, .fa-times {
    color: #000;
    font-size: 26px
}

* {
    margin: 0;
    padding: 0
}

.container {
    max-width: 1920px;
    margin: 0 auto
}

.overlay {
    position: absolute;
    background-image: -webkit-linear-gradient(150deg, rgba(136, 211, 206, .8) 0, rgba(110, 69, 226, .9) 100%);
    background-image: linear-gradient(-60deg, rgba(136, 211, 206, .8) 0, rgba(110, 69, 226, .9) 100%);
    width: 100%;
    height: 100%
}

.hero {
    position: relative;
    background-image: url(../img/hero-background-main.png);
    background-size: cover;
    max-width: 1920px;
    height: 770px;
    background-position: center
}

.bottomNavigation, .header {
    margin-top: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 48px
}

.selectPlan {
    padding-top: 118px;
    padding-bottom: 120px;
    background-color: #f9fafc
}

.plans {
    margin: 0 auto;
    max-width: 1420px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 95px
}

.takeControl {
    position: relative;
    background: url(../img/Map.png) 211px 0 no-repeat;
    height: 522px;
    max-width: 1920px;
    text-align: center
}

.footer__divider {
    max-width: 1820px;
    margin: 30px 50px 29px;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    border-top: none
}

.singlePlan {
    width: 440px;
    height: 648px;
    border-radius: 30px;
    border: 1px solid #d7dbe8;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: .5s;
    transition: .5s
}

.singlePlan:hover {
    box-shadow: 0 0 82px 10px rgba(204, 204, 223, .71);
    border: 1px solid #fff
}

.singlePlan:hover .singlePlan__backgroundImage {
    opacity: .04;
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.singlePlan__image-1 {
    display: block;
    width: 108px;
    height: 94px;
    margin: 65px auto 55px
}

.singlePlan__image-2 {
    display: block;
    width: 120px;
    height: 108px;
    margin: 58px auto 48px
}

.singlePlan__image-3 {
    display: block;
    width: 112px;
    height: 110px;
    margin: 58px auto 46px
}

.singlePlan__background {
    position: relative;
    width: 100%;
    height: 100%
}

.singlePlan__backgroundImage {
    width: 379px;
    height: 341px;
    margin: 307px 30px 0;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    opacity: 0
}

.singlePlan__front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 48px;
    text-decoration: none;
    margin-left: 50px
}

.logo__link {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-decoration: none;
    height: 37px
}

.logo__link-footer {
    color: #4f4f6f
}

.logo__image {
    margin-right: 16px;
    height: 48px
}

.navigationBar {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-right: 50px
}

.navigation {
    margin-right: 30px;
    height: 23px
}

.navigation__list {
    display: inline
}

.navigation__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 0 24px 14px;
    margin: 0 6px;
    letter-spacing: .01em;
    -webkit-transition: border-bottom .2s;
    transition: border-bottom .2s
}

.navigation__link-header:hover {
    border-bottom: 2px solid #fff
}

.navigation__link-footer {
    color: #6a6a77
}

.navigation__link-footer-active, .navigation__link-footer:hover {
    color: #6e45e2;
    border: none
}

.navigation__link-active {
    border-bottom: 2px solid #fff
}

.button {
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: .6px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
    margin: 0 auto;
    display: block
}

.button__getStarted {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    margin-bottom: 2px;
    padding: 8px 32px;
    border-radius: 25px
}

.button__getStarted-footer {
    background-color: #6e45e2;
    border: 1px solid #d7dbe8
}

.button__getStarted:hover {
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, .5);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
}

.button__getStarted:active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.button__selectPlan {
    color: #c2c9db;
    background-color: #fff;
    border: 1px solid #d7dbe8;
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, .5);
    margin: 0 auto 20px;
    padding: 8px 53px;
    border-radius: 25px
}

.button__selectPlan-unique {
    display: inline-block;
    margin: 0 5px 0 1px;
    box-shadow: none
}

.button__selectPlan:hover {
    background-color: #6e45e2;
    border: 1px solid #6e45e2;
    box-shadow: none;
    color: #fff
}

.button__selectPlan:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

.button__exploreFeatures {
    color: #c2c9db;
    background-color: #fff;
    border: 1px solid #d7dbe8;
    margin: 0 0 0 4px;
    padding: 8px 32px;
    border-radius: 25px;
    display: inline-block;
    box-shadow: none
}

.button:hover {
    background-color: #6e45e2;
    border: 1px solid #6e45e2;
    box-shadow: none;
    color: #fff
}

.button:active {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

.button__arrowDown {
    display: block;
    background-image: url(../img/arrow-down.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 176px auto 50px;
    background-color: #fff;
    border: none
}

.button__arrowDown:hover {
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, .5);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
}

.button__arrowDown:active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.button__hamburger {
    margin: 20px;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0
}

.copyrightsAndSocials {
    max-width: 1920px;
    padding: 0 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 26px
}

.socials {
    width: 106px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 400px;
    background-color: transparent
}

.mobileMenuToggle {
    width: 100%;
    height: 70px
}

.mobileMenu__navigation {
    background-color: #000;
    padding: 20px 0;
    display: none
}

.mobileMenu__ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    text-align: center
}

.mobileMenu__item {
    margin: 30px 0
}

.mobileMenu__link {
    text-decoration: none;
    font-size: 26px
}

.mobileMenu__link:hover {
    border-bottom: 2px solid #fff
}

.socials__link:hover .fa-facebook-f:before, .socials__link:hover .fa-google-plus-g:before, .socials__link:hover .fa-instagram:before, .socials__link:hover .fa-twitter:before {
    color: #4f4f6f
}

@media screen and (max-width: 1600px) {
    .singlePlan {
        margin: 0 20px 40px
    }

    .plans {
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 95px 40px 0
    }
}

@media screen and (max-width: 1200px) {
    .bottomNavigation, .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 80px
    }

    .bottomNavigation {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        padding: 0 50px
    }

    .navigationBar__header {
        margin-top: 60px;
        width: 100%;
        -webkit-box-pack: center;
        justify-content: center
    }

    .navigationBar__footer {
        margin-bottom: 60px;
        width: 100%;
        -webkit-box-pack: center;
        justify-content: center
    }

    .button__getStarted, .button__getStarted-footer {
        margin: 0
    }

    .footer__divider {
        margin-top: 60px
    }

    .navigation {
        margin-right: 50px
    }

    .logo {
        margin: 0
    }

    .plans {
        padding: 30px 20px 0
    }

    .selectPlan {
        padding: 40px 0
    }

    .button__arrowDown {
        margin-top: 100px
    }

    .hero {
        height: 770px
    }
}

@media screen and (max-width: 960px) {
    .navigation, .navigationBar__footer {
        display: none
    }

    .navigationBar {
        margin-right: 0;
        -webkit-box-align: start;
        align-items: flex-start
    }

    .mobileMenu {
        display: block
    }

    .heading__main {
        font-size: 60px
    }

    .heading__secondary {
        font-size: 50px;
        padding: 0 10px
    }

    .copyrightsAndSocials {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }

    .copyright {
        text-align: center
    }

    .socials {
        margin-top: 20px
    }
}

@media screen and (max-width: 600px) {
    .singlePlan {
        margin: 0 0 20px
    }

    .button__selectPlan-unique {
        margin: 10px auto 40px;
        display: block
    }

    .preHeading.preHeading__secondary-unique {
        margin: 100px auto 0
    }
}

@media screen and (max-width: 480px) {
    .singlePlan {
        width: 100%
    }

    .singlePlan__backgroundImage {
        display: none
    }

    .price-unique:before, .price:before {
        position: static
    }

    .plans {
        padding: 30px 10px 0
    }

    .description__plan {
        padding: 0 10px
    }
}

@media screen and (max-width: 320px) {
    .button__hamburger {
        margin: 8px 10px 8px 5px
    }

    .preHeading.preHeading__main:after, .preHeading.preHeading__main:before {
        width: 10px
    }
}
